image: rocker/verse:latest 

stages:
  - build
  - render

before_script:
  - apt-get update -qq && apt-get install -y libxml2-dev libssl-dev libcurl4-openssl-dev  # Installez les dépendances système nécessaires
  - Rscript install_packages.R

build:
  stage: build
  script:
    - R -e "quarto_render(input = 'maquette_espece.qmd', execute_params = list('sp_name' = 'Amaryllis'), output_file = 'maquette_espece.html')"  # Rendre le script RMarkdown
  artifacts:
    paths:
      - maquette_espece.html  # Spécifiez le fichier de sortie

render:
  stage: render
  script:
    - echo "Rendering complete"
