image: mpretet/image_fiche_opj:latest

stages:
  - render

variables:
  R_LIBS_USER: "$CI_PROJECT_DIR/Rlibs"

before_script:
  - apt-get update && apt-get install -y libmariadb-dev  # Installation des dépendances pour RMySQL
  - R -e "install.packages(c('quarto'))"  # Installation des packages nécessaires

cache:
  paths:
    - Rlibs/

render_quarto:
  stage: render
  script:
    - quarto render maquette_espece_retest.qmd  # Commande pour rendre le document Quarto
  artifacts:
    paths:
      - maquette_espece_retest.html  # Spécifiez le chemin de sortie du rendu Quarto
