*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.env
.Renviron
**/*.rds
data/photos_angelique
data/history/
**/*.html
html/
out/graphiques/
# Ignorer tous les fichiers .jpg
data/photos/*.jpg
data/photos/*.png
# Ne pas ignorer Amaryllis.jpg
!data/photos/Amaryllis.jpg

data/img/*
!data/img/papillon.png
!data/img/logo_obj_ope_papillons.png