image: mpretet/image_fiche_opj:latest

stages:
  - run_quarto

before_script:
  # Installer les dépendances nécessaires, y compris R
  - apt-get update -qq && apt-get install -y libssl-dev libcurl4-gnutls-dev libxml2-dev pandoc
  # Installer R si ce n'est pas déjà fait
  - apt-get install -y r-base

run_quarto:
  stage: run_quarto
  script:
    - Rscript programs/boucle_quarto.R
  only:
    - main
