image: mpretet/image_fiche_opj:4.1.2

stages:
  - render

before_script:
  - apt-get update && apt-get install -y libmariadb-dev  # Installation des dépendances pour RMySQL

render_quarto:
  stage: render
  script:
    - quarto render maquette_espece.qmd  # Commande pour rendre le document Quarto
  artifacts:
    paths:
      - maquette_espece.html  # Spécifiez le chemin de sortie du rendu Quarto

