h1 {
  font-size: 1.8em;
  color: #e74c3c;
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  color: #1653f6;
  font-weight: bold;
  
}

h3 {
  font-size: 1.0em;
  color: #4f4f4f;
  font-weight: bold;
}
