
.styled-output .cell-output {
  background-color: lightgreen;
  border-radius: 4px;
}

.styled-output .blank-output {
  background-color: white;
  border-radius: 4px;
}

.styled-output .blue-bg {
  background-color: #00BBC1;
  border-radius: 4px;
}